{% extends 'base.html' %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/simplemde/css/simplemde.min.css') }}">
{% endblock extra_stylesheets %}

{% block title %}Notes - Connect{% endblock title %}

{% block content %}
    <div class="container">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group my-5">
                {{ form.markdown(class="form-control") }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="btn-group">
            <a class="nav-item nav-link dropdown-toggle mx-lg-3" type="button" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
              Filter
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="{{ url_for('notes') }}">All</a></li>
                <li><a class="dropdown-item" href="{{ url_for('notes', filter='authored') }}">Authored</a></li>
            </ul>
          </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center gutters-sm" data-masonry='{"percentPosition": true }'>
            {% for note in notes %}
                <div class="card col-xs-12 col-sm-6 col-lg-6 m-3">
                    <div class="card-body">
                        <div class="text-secondary mb-1">
                            {{ note.timestamp.strftime('%b %d, %Y %I:%M%p')}} - 
                            <a class="link-secondary" href="{{ url_for('profile', username=note.author_profile.user.username) }}">
                                @{{note.author_profile.user.username}}
                            </a>
                        </div>
                        <div class="note-content">
                            {{ note.content|safe }}
                        </div>
                    </div>
                    {% if note.author_profile == current_user.profile %}
                        <div class="d-flex justify-content-end my-2">
                            <a role="button" class="link-danger" data-bs-toggle="modal" data-note-id="{{note.id}}" data-bs-target="#deleteNote">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                        {% with note=note %}
                            {% include 'modals/delete-note.html' %}
                        {% endwith %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}



{% block extra_scripts %}
    <script src="{{ url_for('static', filename='vendor/masonry/js/masonry.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/simplemde/js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ 
            element: $("#markdown")[0],
            placeholder: "Type here... (you can use markdown or just plain HTML)",
            toolbar: ["bold", "italic", "heading", "|", "quote", "unordered-list", "ordered-list", "|","link", "image", "code", "|", "preview", "guide"],

        
        });
    </script>
{% endblock extra_scripts %}