{% extends 'base.html' %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/simplemde/css/simplemde.min.css') }}">
{% endblock extra_stylesheets %}

{% block content %}
    <div class="container">
        <div>
            <form method="POST" onsubmit="return validateForm()">
                <div class="form-group my-5">
                    <textarea class="form-control" id="markdown" name="markdown"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center gutters-sm" data-masonry='{"percentPosition": true }'>
            {% for note in notes %}
                <div class="card col-xs-12 col-sm-6 col-lg-6 m-3">
                    <div class="card-body">
                        <div class="text-secondary mb-1">
                            {{ note.timestamp.strftime('%b %d, %Y %I:%M%p')}} - 
                            <a class="link-secondary" href="{{ url_for('profile', username=note.author_profile.user.username) }}">
                                @{{note.author_profile.user.username}}
                            </a>
                        </div>
                        <div class="note-content">
                            {{ note.content|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='vendor/masonry/js/masonry.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/simplemde/js/simplemde.min.js') }}"></script>

    <script>
        var simplemde = new SimpleMDE({ 
            element: $("#markdown")[0],
            placeholder: "Type here... (you can use markdown or just plain HTML)",
            toolbar: ["bold", "italic", "heading", "|", "quote", "unordered-list", "ordered-list", "|","link", "image", "code", "|", "preview", "guide"],

        
        });

        function validateForm() {
            var markdownContent = simplemde.value();
            if (markdownContent.trim() === '') {
                alert("Please enter some content before submitting.");
                return false;
            }
            return true;
        }
    </script>
{% endblock extra_scripts %}