{% extends 'base.html' %}

{% block content %}
{% if not room %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a room to start a call</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ form.csrf_token }}
                        <div class="mb-3">
                            {{ form.callee.label(class="form-label") }}

                            {% if form.callee.errors %}
                                {{ form.callee(class="form-control is-invalid font-awesome", size=40, placeholder='@ Enter username') }}
                                    {% for error in form.recipient.errors %}
                                        <small class="invalid-feedback">{{error}}</small>
                                    {% endfor %}
                            {% else %}
                                {{ form.callee(class="form-control font-awesome", size=40, placeholder='@ Enter username') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% else %}
{% if current_user.username == room.caller %}
    <div class="modal fade" id="startCall" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="startCallLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="startCallLabel">Room - waiting for student to join</h1>
                </div>
                <div class="modal-body" id="callModalStatus">
                    Share this room address with the student. Once they connect, you'll be able to start the call.
                    <p class="my-2" style="font-size: 12px;"><small>If you're facing troubles during connection, try refreshing the page and advise the student to do the same.</small></p>
                </div>  
                <div class="modal-footer">
                    <button class="btn btn-primary disabled" type="button" id='callButton' onclick="createOffer()" data-bs-dismiss="modal">Call</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <div class="card my-5 h-100 align-middle">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="ratio ratio-16x9" style="background-color: black;">
                        <video id="remoteVideo" playsinline autoplay class="border border-dark object-fit-cover"></video>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ratio ratio-16x9" style="background-color: black;">
                        <video id="localVideo" playsinline autoplay class="border border-dark object-fit-cover"></video>
                    </div>
                </div>
                    
                <div id="stream-controls" class="text-center m-2">
                    <button id="leave-btn" class="btn btn-secondary rounded-circle stream-btn" onclick="hangupCall()">
                        <i class="fa-solid fa-phone-slash"></i>
                    </button>
                    <button id="mic-btn" class="btn btn-secondary rounded-circle stream-btn">
                        <i class="fa-solid fa-microphone"></i>
                    </button>
                    <button id="camera-btn" class="btn btn-secondary rounded-circle stream-btn">
                        <i class="fa-solid fa-video"></i>
                    </button>
                    <button id="share-btn" class="btn btn-secondary rounded-circle stream-btn">
                        <i class="fa-solid fa-display"></i>
                    </button>
                </div>
                <div class="col-md-6 col-lg-12">
                    <div class="my-5 border-top">
                        <div class="m-2">
                            <div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary"><i class="fa-solid fa-comment-dots"></i> Chat:</div>
                            <pre id="chatOutput"></pre>
                            <input id="chat" type="text" class="form-control my-5" placeholder="Type your message...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p id="connection-info" data-ws_url="{{ws_url}}" data-current_user="{{current_user.username}}" data-room="{{room.id}}" data-caller="{{room.caller}}" data-callee="{{room.callee}}"></p>

{% endif %}
{% endblock content %}

{% block extra_scripts %}
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{{ url_for('static', filename='js/webrtc.js') }}"></script>
<script src="{{ url_for('static', filename='js/signaling.js') }}"></script>

{% if not room %}
    <script>
        $(document).ready(function() {
            $('#staticBackdrop').modal('show');
        });
    </script>
{% endif %}

<script>
    $(document).ready(function() {
        $('#startCall').modal('show');
    });
</script>

{% endblock extra_scripts %}