{% extends 'base.html' %}

{% block content %}
  <div id="videoContainer"></div>
  <p id="stat"></p>
  <button id="button" onclick="createOffer('{{user.username}}')">CALL</button>

  
  <br> Chat: <input id="chat"><br>
  <pre id="output">Chat: </pre>

  <button id="hangup-button" onclick="join('{{user.username}}', '{{room}}');">JOIN</button>


  <button id="hangup-button" onclick="closea();">close</button>
  <label for="name">Username (dell'altra persona, obbligatorio)</label>
  <input type="text" id="name">

{% endblock content %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/webrtc.js') }}"></script>
<script src="{{ url_for('static', filename='js/signaling.js') }}"></script>
{% endblock extra_scripts %}